<div class="container">
  <button class="btn btn-success" (click)="getAllFiles()">Get All Files</button>
  <pre class="font-size--small">{{files | json}}</pre>
  <hr>
  <form [formGroup]="downloadForm" (ngSubmit)="onRequestFile()">
    <div class="row">
      <div class="col-12">
        <h2>Download File</h2>
      </div>
      <div class="form-group col-md-7">
        <label for="inputFileName">File Name</label>
        <input type="text" class="form-control" formControlName="fileName" id="inputFileName" aria-describedby="fileNameHelp" placeholder="File Name">
      </div>
      <div class="col-md-5 d-flex align-items-end">
        <div>
          <button class="mt-2 mt-lg-0" type="submit" [disabled]="!downloadForm.valid && !downloading" class="btn btn-primary">Download</button>
          <div class="mx-0 mx-lg-0">
            <fa-icon
              *ngIf="downloading"
              size="2x"
              [icon]="faSpinner"
              [pulse]="true"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </form>
    <a href="/api/files/test.txt" target="_blank">Download</a>
    <!-- it is possible to list and user can click (required a progress bar)  -->
  <hr>

</div>
